{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container registration-container">
    <h1 class="registration-title">Inscription</h1>
    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm, {'attr': {'class': 'registration-form'}}) }}
        <div class="form-group">
            {{ form_row(registrationForm.nom) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.prenom) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de Passe'
            }) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.role) }}
        </div>
        <button type="submit" class="btn btn-primary">Inscription</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
