{% extends 'base.html.twig' %}

{% block title %}Ajouter Article{% endblock %}

{% block body %}
    <section class="py-5 container article-add">
        <h1>Ajouter un article</h1>
        {{ form_start(formArticle) }}
            {{ form_row(formArticle.titre) }}<br>
            {{ form_row(formArticle.description) }}<br>
            {{ form_row(formArticle.films) }}<br>
            <input type="submit" value="Enregistrer" class="btn btn-sm btn-success">
        {{ form_end(formArticle) }}
    </section>
{% endblock %}
