{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}
    <section class="py-5 container article-view">
        <div class="card mb-3">
            <div class="card-body">
                <a href="{{ path ('articles_edit', {id: article.id})}}" class="edit-link">
                    <i class="bi bi-pencil-square"></i>
                </a>
                <a href="{{ path ('articles_delete', {id: article.id})}}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce contenu ?')" class="delete-link">
                    <i class="bi bi-trash-fill me-1"></i>
                </a>
                <h2 class="card-title">{{ article.titre }}</h2>
                <p class="card-text">{{ article.description }}</p>
            </div>
        </div>        
    </section>
{% endblock %}
