{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}
    <section class="py-5 container article-view">
        <div class="card mb-3">
            <div class="card-body">
                {% if app.user and (app.user.role.nomRole == 'ADMIN' or app.user == article.user) %}
                    <a href="{{ path('articles_edit', {id: article.id}) }}" class="edit-link">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="{{ path('articles_delete', {id: article.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce contenu ?')" class="delete-link">
                        <i class="bi bi-trash-fill me-1"></i>
                    </a>
                {% endif %}
                <h2 class="card-title">{{ article.titre }}</h2>
                <p class="card-text">{{ article.description }}</p>
            </div>
        </div>

        {% if app.user %}
            <div class="comment-form">
                {{ form_start(formCommentaires) }}
                {{ form_widget(formCommentaires) }}
                <button type="submit">Ajouter un commentaire</button>
                {{ form_end(formCommentaires) }}
            </div>
        {% endif %}

        <div class="commentaire-section">
            <h3>Commentaires</h3>
            {% for commentaire in article.commentaires %}
                <div class="comment-body">
                    {% if article.user %}
                        <p class="comment-author">Écrit par {{ commentaire.user.prenom }} {{ commentaire.user.nom }}, le {{ article.getDateCreation() | date('d/m/Y') }}</p>
                    {% else %}
                        <p class="comment-author">Écrit par un utilisateur supprimé, le {{ article.getDateCreation() | date('d/m/Y') }}</p>
                    {% endif %}
                    <p class="comment-text">{{ commentaire.texte }}</p>
                    {% if app.user is not null and app.user.role is not null and (app.user.role.nomRole == 'ADMIN') or commentaire.user == app.user %}
                        <a href="{{ path('commentaires_delete', { 'id': commentaire.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce contenu ?')" class="delete-com">
                            <i class="bi bi-trash-fill me-1"></i>
                        </a>
                    {% endif %}
                </div>
            {% else %}
                <p>Aucun commentaire pour cet article</p>
            {% endfor %}
        </div>    
    </section>
{% endblock %}
