<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CinéCritique{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
</head>
<body>

<header>
    <h1>CinéCritique</h1>
    <nav>
        <ul>
            <li><a href="{{ path ('app_home') }}">Accueil</a></li>
            <li><a href="{{ path ('app_films') }}">Films</a></li>
            <li><a href="{{ path ('app_articles') }}">Articles</a></li>
            <li><a href="{{ path ('articles_add') }}">Ajouter un article</a></li>
            {% if app.user is null %}
                <li><a href="{{ path ('app_login') }}">Connexion</a></li>
                <li><a href="{{ path ('app_register') }}">Inscription</a></li>
            {% endif %}
            {% if app.user is not null and app.user.role is not null and (app.user.role.nomRole == 'ADMIN') %}
                <li><a href="{{ path ('app_profils') }}">Voir profil</a></li>
            {% endif %}
            {% if app.user is not null %}
                <li><a href="{{ path ('app_logout') }}">Deconnexion</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main class = "main">
    {% block body %}{% endblock %}
</main>

<footer>
    <p>&copy; 2024 CinéCritique. <a href="{{ path ('app_droits') }}">Tous droits réservés.</a></p>
</footer>

</body>
</html>
